* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {
    font-family: 'Open Sans', sans-serif;
}*/

.header{
    width: 100%;
    overflow: hidden;
    background: black;
    background-color: #C1CED7;
} 

.logo{
    max-width: 180px;
    display: inline;
}

/*.show{
    display: block;
}*/

/*.hide{
    display: none;
} */

.icono{
    font-size: 200px;
}