
.icon-cifrar:before { content: '\e800'; } /* '' */
.icon-descifrar:before { content: '\e801'; } /* '' */
.icon-desencriptar:before { content: '\f075'; } /* '' */
.icon-copiar:before { content: '\f0c5'; } /* '' */
.icon-encriptar:before { content: '\f510'; } /* '' */